<html>

<head>

    <title>{{title}}</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" />
    <link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">
    

</head>

<body>

<div class="container">



        <h2 style="text-align:center">Dispur Wireless: Tariff Plan Management Portal <a href="{{url_for('logout')}}" class="btn btn-primary btn-xs" style="border-radius: 50%;padding:10px;position: absolute;right: 0; margin-right:10px;">
            <span class="glyphicon glyphicon-log-out"><br>Logout</span>
          </a></h2>


